$glass_color_alpha_base: 0.15 !default;
$glass_blur_base: 15px !default;

@mixin background-color($color_value, $alpha) {
  background-color: rgba($color_value, $alpha) !important;
  backdrop-filter: blur($glass_blur_base);
}

:root {
  color-scheme: normal;
  --v-theme-background: 255, 255, 255;
  --v-theme-background-overlay-multiplier: 1;
  --v-theme-surface: 255, 255, 255;
  --v-theme-surface-overlay-multiplier: 1;
  --v-theme-surface-bright: 255, 255, 255;
  --v-theme-surface-bright-overlay-multiplier: 1;
  --v-theme-surface-light: 238, 238, 238;
  --v-theme-surface-light-overlay-multiplier: 1;
  --v-theme-surface-variant: 66, 66, 66;
  --v-theme-surface-variant-overlay-multiplier: 2;
  --v-theme-on-surface-variant: 238, 238, 238;
  --v-theme-primary: 6, 132, 194;
  --v-theme-primary-overlay-multiplier: 1;
  --v-theme-primary-darken-1: 0, 107, 167;
  --v-theme-primary-darken-1-overlay-multiplier: 2;
  --v-theme-secondary: 66, 93, 157;
  --v-theme-secondary-overlay-multiplier: 2;
  --v-theme-secondary-darken-1: 36, 70, 131;
  --v-theme-secondary-darken-1-overlay-multiplier: 2;
  --v-theme-error: 183, 28, 28;
  --v-theme-error-overlay-multiplier: 2;
  --v-theme-info: 46, 204, 202;
  --v-theme-info-overlay-multiplier: 1;
  --v-theme-success: 41, 217, 103;
  --v-theme-success-overlay-multiplier: 1;
  --v-theme-warning: 243, 204, 49;
  --v-theme-warning-overlay-multiplier: 1;
  --v-theme-accent: 103, 100, 100;
  --v-theme-accent-overlay-multiplier: 2;
  --v-theme-cancel: 244, 67, 54;
  --v-theme-cancel-overlay-multiplier: 1;
  --v-theme-highlight: 6, 132, 194;
  --v-theme-highlight-overlay-multiplier: 1;
  --v-theme-notify: 246, 173, 1;
  --v-theme-notify-overlay-multiplier: 1;
  --v-theme-question: 49, 116, 241;
  --v-theme-question-overlay-multiplier: 1;
  --v-theme-accent-lighten-1: 128, 125, 125;
  --v-theme-accent-lighten-1-overlay-multiplier: 1;
  --v-theme-accent-lighten-2: 154, 151, 151;
  --v-theme-accent-lighten-2-overlay-multiplier: 1;
  --v-theme-accent-lighten-3: 181, 177, 177;
  --v-theme-accent-lighten-3-overlay-multiplier: 1;
  --v-theme-accent-lighten-4: 208, 205, 205;
  --v-theme-accent-lighten-4-overlay-multiplier: 1;
  --v-theme-accent-lighten-5: 237, 233, 233;
  --v-theme-accent-lighten-5-overlay-multiplier: 1;
  --v-theme-accent-darken-1: 79, 76, 76;
  --v-theme-accent-darken-1-overlay-multiplier: 2;
  --v-theme-accent-darken-2: 56, 53, 53;
  --v-theme-accent-darken-2-overlay-multiplier: 2;
  --v-theme-accent-darken-3: 35, 32, 32;
  --v-theme-accent-darken-3-overlay-multiplier: 2;
  --v-theme-accent-darken-4: 13, 9, 9;
  --v-theme-accent-darken-4-overlay-multiplier: 2;
  --v-theme-accent-darken-5: 0, 0, 0;
  --v-theme-accent-darken-5-overlay-multiplier: 2;
  --v-theme-background-lighten-1: 255, 255, 255;
  --v-theme-background-lighten-1-overlay-multiplier: 1;
  --v-theme-background-lighten-2: 255, 255, 255;
  --v-theme-background-lighten-2-overlay-multiplier: 1;
  --v-theme-background-lighten-3: 255, 255, 255;
  --v-theme-background-lighten-3-overlay-multiplier: 1;
  --v-theme-background-lighten-4: 255, 255, 255;
  --v-theme-background-lighten-4-overlay-multiplier: 1;
  --v-theme-background-lighten-5: 255, 255, 255;
  --v-theme-background-lighten-5-overlay-multiplier: 1;
  --v-theme-background-darken-1: 226, 226, 226;
  --v-theme-background-darken-1-overlay-multiplier: 1;
  --v-theme-background-darken-2: 198, 198, 198;
  --v-theme-background-darken-2-overlay-multiplier: 1;
  --v-theme-background-darken-3: 171, 171, 171;
  --v-theme-background-darken-3-overlay-multiplier: 1;
  --v-theme-background-darken-4: 145, 145, 145;
  --v-theme-background-darken-4-overlay-multiplier: 1;
  --v-theme-background-darken-5: 119, 119, 119;
  --v-theme-background-darken-5-overlay-multiplier: 1;
  --v-theme-cancel-lighten-1: 255, 97, 78;
  --v-theme-cancel-lighten-1-overlay-multiplier: 1;
  --v-theme-cancel-lighten-2: 255, 126, 102;
  --v-theme-cancel-lighten-2-overlay-multiplier: 1;
  --v-theme-cancel-lighten-3: 255, 155, 128;
  --v-theme-cancel-lighten-3-overlay-multiplier: 1;
  --v-theme-cancel-lighten-4: 255, 184, 154;
  --v-theme-cancel-lighten-4-overlay-multiplier: 1;
  --v-theme-cancel-lighten-5: 255, 214, 181;
  --v-theme-cancel-lighten-5-overlay-multiplier: 1;
  --v-theme-cancel-darken-1: 211, 31, 31;
  --v-theme-cancel-darken-1-overlay-multiplier: 2;
  --v-theme-cancel-darken-2: 179, 0, 8;
  --v-theme-cancel-darken-2-overlay-multiplier: 2;
  --v-theme-cancel-darken-3: 148, 0, 0;
  --v-theme-cancel-darken-3-overlay-multiplier: 2;
  --v-theme-cancel-darken-4: 118, 0, 0;
  --v-theme-cancel-darken-4-overlay-multiplier: 2;
  --v-theme-cancel-darken-5: 90, 0, 0;
  --v-theme-cancel-darken-5-overlay-multiplier: 2;
  --v-theme-error-lighten-1: 215, 62, 50;
  --v-theme-error-lighten-1-overlay-multiplier: 1;
  --v-theme-error-lighten-2: 247, 91, 74;
  --v-theme-error-lighten-2-overlay-multiplier: 1;
  --v-theme-error-lighten-3: 255, 119, 98;
  --v-theme-error-lighten-3-overlay-multiplier: 1;
  --v-theme-error-lighten-4: 255, 147, 123;
  --v-theme-error-lighten-4-overlay-multiplier: 1;
  --v-theme-error-lighten-5: 255, 175, 149;
  --v-theme-error-lighten-5-overlay-multiplier: 1;
  --v-theme-error-darken-1: 152, 0, 5;
  --v-theme-error-darken-1-overlay-multiplier: 2;
  --v-theme-error-darken-2: 122, 0, 0;
  --v-theme-error-darken-2-overlay-multiplier: 2;
  --v-theme-error-darken-3: 94, 0, 0;
  --v-theme-error-darken-3-overlay-multiplier: 2;
  --v-theme-error-darken-4: 72, 0, 0;
  --v-theme-error-darken-4-overlay-multiplier: 2;
  --v-theme-error-darken-5: 63, 0, 0;
  --v-theme-error-darken-5-overlay-multiplier: 2;
  --v-theme-highlight-lighten-1: 63, 158, 222;
  --v-theme-highlight-lighten-1-overlay-multiplier: 1;
  --v-theme-highlight-lighten-2: 97, 185, 251;
  --v-theme-highlight-lighten-2-overlay-multiplier: 1;
  --v-theme-highlight-lighten-3: 129, 212, 255;
  --v-theme-highlight-lighten-3-overlay-multiplier: 1;
  --v-theme-highlight-lighten-4: 159, 241, 255;
  --v-theme-highlight-lighten-4-overlay-multiplier: 1;
  --v-theme-highlight-lighten-5: 189, 255, 255;
  --v-theme-highlight-lighten-5-overlay-multiplier: 1;
  --v-theme-highlight-darken-1: 0, 107, 167;
  --v-theme-highlight-darken-1-overlay-multiplier: 2;
  --v-theme-highlight-darken-2: 0, 83, 140;
  --v-theme-highlight-darken-2-overlay-multiplier: 2;
  --v-theme-highlight-darken-3: 0, 60, 114;
  --v-theme-highlight-darken-3-overlay-multiplier: 2;
  --v-theme-highlight-darken-4: 0, 39, 89;
  --v-theme-highlight-darken-4-overlay-multiplier: 2;
  --v-theme-highlight-darken-5: 0, 18, 65;
  --v-theme-highlight-darken-5-overlay-multiplier: 2;
  --v-theme-info-lighten-1: 87, 232, 230;
  --v-theme-info-lighten-1-overlay-multiplier: 1;
  --v-theme-info-lighten-2: 120, 255, 255;
  --v-theme-info-lighten-2-overlay-multiplier: 1;
  --v-theme-info-lighten-3: 152, 255, 255;
  --v-theme-info-lighten-3-overlay-multiplier: 1;
  --v-theme-info-lighten-4: 183, 255, 255;
  --v-theme-info-lighten-4-overlay-multiplier: 1;
  --v-theme-info-lighten-5: 214, 255, 255;
  --v-theme-info-lighten-5-overlay-multiplier: 1;
  --v-theme-info-darken-1: 0, 176, 175;
  --v-theme-info-darken-1-overlay-multiplier: 1;
  --v-theme-info-darken-2: 0, 149, 148;
  --v-theme-info-darken-2-overlay-multiplier: 1;
  --v-theme-info-darken-3: 0, 123, 122;
  --v-theme-info-darken-3-overlay-multiplier: 2;
  --v-theme-info-darken-4: 0, 97, 98;
  --v-theme-info-darken-4-overlay-multiplier: 2;
  --v-theme-info-darken-5: 0, 73, 74;
  --v-theme-info-darken-5-overlay-multiplier: 2;
  --v-theme-notify-lighten-1: 255, 200, 50;
  --v-theme-notify-lighten-1-overlay-multiplier: 1;
  --v-theme-notify-lighten-2: 255, 228, 81;
  --v-theme-notify-lighten-2-overlay-multiplier: 1;
  --v-theme-notify-lighten-3: 255, 255, 110;
  --v-theme-notify-lighten-3-overlay-multiplier: 1;
  --v-theme-notify-lighten-4: 255, 255, 138;
  --v-theme-notify-lighten-4-overlay-multiplier: 1;
  --v-theme-notify-lighten-5: 255, 255, 167;
  --v-theme-notify-lighten-5-overlay-multiplier: 1;
  --v-theme-notify-darken-1: 215, 147, 0;
  --v-theme-notify-darken-1-overlay-multiplier: 1;
  --v-theme-notify-darken-2: 184, 121, 0;
  --v-theme-notify-darken-2-overlay-multiplier: 1;
  --v-theme-notify-darken-3: 154, 96, 0;
  --v-theme-notify-darken-3-overlay-multiplier: 2;
  --v-theme-notify-darken-4: 125, 72, 0;
  --v-theme-notify-darken-4-overlay-multiplier: 2;
  --v-theme-notify-darken-5: 99, 49, 0;
  --v-theme-notify-darken-5-overlay-multiplier: 2;
  --v-theme-primary-lighten-1: 63, 158, 222;
  --v-theme-primary-lighten-1-overlay-multiplier: 1;
  --v-theme-primary-lighten-2: 97, 185, 251;
  --v-theme-primary-lighten-2-overlay-multiplier: 1;
  --v-theme-primary-lighten-3: 129, 212, 255;
  --v-theme-primary-lighten-3-overlay-multiplier: 1;
  --v-theme-primary-lighten-4: 159, 241, 255;
  --v-theme-primary-lighten-4-overlay-multiplier: 1;
  --v-theme-primary-lighten-5: 189, 255, 255;
  --v-theme-primary-lighten-5-overlay-multiplier: 1;
  --v-theme-primary-darken-2: 0, 83, 140;
  --v-theme-primary-darken-2-overlay-multiplier: 2;
  --v-theme-primary-darken-3: 0, 60, 114;
  --v-theme-primary-darken-3-overlay-multiplier: 2;
  --v-theme-primary-darken-4: 0, 39, 89;
  --v-theme-primary-darken-4-overlay-multiplier: 2;
  --v-theme-primary-darken-5: 0, 18, 65;
  --v-theme-primary-darken-5-overlay-multiplier: 2;
  --v-theme-question-lighten-1: 90, 141, 255;
  --v-theme-question-lighten-1-overlay-multiplier: 1;
  --v-theme-question-lighten-2: 124, 167, 255;
  --v-theme-question-lighten-2-overlay-multiplier: 1;
  --v-theme-question-lighten-3: 156, 194, 255;
  --v-theme-question-lighten-3-overlay-multiplier: 1;
  --v-theme-question-lighten-4: 188, 222, 255;
  --v-theme-question-lighten-4-overlay-multiplier: 1;
  --v-theme-question-lighten-5: 219, 250, 255;
  --v-theme-question-lighten-5-overlay-multiplier: 1;
  --v-theme-question-darken-1: 0, 92, 212;
  --v-theme-question-darken-1-overlay-multiplier: 2;
  --v-theme-question-darken-2: 0, 69, 184;
  --v-theme-question-darken-2-overlay-multiplier: 2;
  --v-theme-question-darken-3: 0, 48, 156;
  --v-theme-question-darken-3-overlay-multiplier: 2;
  --v-theme-question-darken-4: 0, 29, 130;
  --v-theme-question-darken-4-overlay-multiplier: 2;
  --v-theme-question-darken-5: 0, 4, 104;
  --v-theme-question-darken-5-overlay-multiplier: 2;
  --v-theme-secondary-lighten-1: 94, 117, 184;
  --v-theme-secondary-lighten-1-overlay-multiplier: 1;
  --v-theme-secondary-lighten-2: 121, 143, 212;
  --v-theme-secondary-lighten-2-overlay-multiplier: 1;
  --v-theme-secondary-lighten-3: 148, 169, 241;
  --v-theme-secondary-lighten-3-overlay-multiplier: 1;
  --v-theme-secondary-lighten-4: 176, 196, 255;
  --v-theme-secondary-lighten-4-overlay-multiplier: 1;
  --v-theme-secondary-lighten-5: 205, 224, 255;
  --v-theme-secondary-lighten-5-overlay-multiplier: 1;
  --v-theme-secondary-darken-2: 0, 48, 105;
  --v-theme-secondary-darken-2-overlay-multiplier: 2;
  --v-theme-secondary-darken-3: 0, 28, 81;
  --v-theme-secondary-darken-3-overlay-multiplier: 2;
  --v-theme-secondary-darken-4: 0, 0, 57;
  --v-theme-secondary-darken-4-overlay-multiplier: 2;
  --v-theme-secondary-darken-5: 0, 0, 37;
  --v-theme-secondary-darken-5-overlay-multiplier: 2;
  --v-theme-success-lighten-1: 83, 246, 129;
  --v-theme-success-lighten-1-overlay-multiplier: 1;
  --v-theme-success-lighten-2: 117, 255, 156;
  --v-theme-success-lighten-2-overlay-multiplier: 1;
  --v-theme-success-lighten-3: 149, 255, 184;
  --v-theme-success-lighten-3-overlay-multiplier: 1;
  --v-theme-success-lighten-4: 180, 255, 212;
  --v-theme-success-lighten-4-overlay-multiplier: 1;
  --v-theme-success-lighten-5: 211, 255, 241;
  --v-theme-success-lighten-5-overlay-multiplier: 1;
  --v-theme-success-darken-1: 0, 188, 77;
  --v-theme-success-darken-1-overlay-multiplier: 1;
  --v-theme-success-darken-2: 0, 161, 52;
  --v-theme-success-darken-2-overlay-multiplier: 1;
  --v-theme-success-darken-3: 0, 133, 24;
  --v-theme-success-darken-3-overlay-multiplier: 2;
  --v-theme-success-darken-4: 0, 107, 0;
  --v-theme-success-darken-4-overlay-multiplier: 2;
  --v-theme-success-darken-5: 0, 81, 0;
  --v-theme-success-darken-5-overlay-multiplier: 2;
  --v-theme-surface-lighten-1: 255, 255, 255;
  --v-theme-surface-lighten-1-overlay-multiplier: 1;
  --v-theme-surface-lighten-2: 255, 255, 255;
  --v-theme-surface-lighten-2-overlay-multiplier: 1;
  --v-theme-surface-lighten-3: 255, 255, 255;
  --v-theme-surface-lighten-3-overlay-multiplier: 1;
  --v-theme-surface-lighten-4: 255, 255, 255;
  --v-theme-surface-lighten-4-overlay-multiplier: 1;
  --v-theme-surface-lighten-5: 255, 255, 255;
  --v-theme-surface-lighten-5-overlay-multiplier: 1;
  --v-theme-surface-darken-1: 226, 226, 226;
  --v-theme-surface-darken-1-overlay-multiplier: 1;
  --v-theme-surface-darken-2: 198, 198, 198;
  --v-theme-surface-darken-2-overlay-multiplier: 1;
  --v-theme-surface-darken-3: 171, 171, 171;
  --v-theme-surface-darken-3-overlay-multiplier: 1;
  --v-theme-surface-darken-4: 145, 145, 145;
  --v-theme-surface-darken-4-overlay-multiplier: 1;
  --v-theme-surface-darken-5: 119, 119, 119;
  --v-theme-surface-darken-5-overlay-multiplier: 1;
  --v-theme-warning-lighten-1: 255, 232, 80;
  --v-theme-warning-lighten-1-overlay-multiplier: 1;
  --v-theme-warning-lighten-2: 255, 255, 109;
  --v-theme-warning-lighten-2-overlay-multiplier: 1;
  --v-theme-warning-lighten-3: 255, 255, 137;
  --v-theme-warning-lighten-3-overlay-multiplier: 1;
  --v-theme-warning-lighten-4: 255, 255, 165;
  --v-theme-warning-lighten-4-overlay-multiplier: 1;
  --v-theme-warning-lighten-5: 255, 255, 194;
  --v-theme-warning-lighten-5-overlay-multiplier: 1;
  --v-theme-warning-darken-1: 212, 177, 1;
  --v-theme-warning-darken-1-overlay-multiplier: 1;
  --v-theme-warning-darken-2: 182, 150, 0;
  --v-theme-warning-darken-2-overlay-multiplier: 1;
  --v-theme-warning-darken-3: 153, 125, 0;
  --v-theme-warning-darken-3-overlay-multiplier: 1;
  --v-theme-warning-darken-4: 124, 100, 0;
  --v-theme-warning-darken-4-overlay-multiplier: 2;
  --v-theme-warning-darken-5: 98, 76, 0;
  --v-theme-warning-darken-5-overlay-multiplier: 2;
  --v-theme-on-background: 0, 0, 0;
  --v-theme-on-surface: 0, 0, 0;
  --v-theme-on-surface-bright: 0, 0, 0;
  --v-theme-on-surface-light: 0, 0, 0;
  --v-theme-on-primary: 255, 255, 255;
  --v-theme-on-primary-darken-1: 255, 255, 255;
  --v-theme-on-secondary: 255, 255, 255;
  --v-theme-on-secondary-darken-1: 255, 255, 255;
  --v-theme-on-error: 255, 255, 255;
  --v-theme-on-info: 0, 0, 0;
  --v-theme-on-success: 0, 0, 0;
  --v-theme-on-warning: 0, 0, 0;
  --v-theme-on-accent: 255, 255, 255;
  --v-theme-on-cancel: 255, 255, 255;
  --v-theme-on-highlight: 255, 255, 255;
  --v-theme-on-notify: 0, 0, 0;
  --v-theme-on-question: 255, 255, 255;
  --v-theme-on-accent-lighten-1: 255, 255, 255;
  --v-theme-on-accent-lighten-2: 255, 255, 255;
  --v-theme-on-accent-lighten-3: 0, 0, 0;
  --v-theme-on-accent-lighten-4: 0, 0, 0;
  --v-theme-on-accent-lighten-5: 0, 0, 0;
  --v-theme-on-accent-darken-1: 255, 255, 255;
  --v-theme-on-accent-darken-2: 255, 255, 255;
  --v-theme-on-accent-darken-3: 255, 255, 255;
  --v-theme-on-accent-darken-4: 255, 255, 255;
  --v-theme-on-accent-darken-5: 255, 255, 255;
  --v-theme-on-background-lighten-1: 0, 0, 0;
  --v-theme-on-background-lighten-2: 0, 0, 0;
  --v-theme-on-background-lighten-3: 0, 0, 0;
  --v-theme-on-background-lighten-4: 0, 0, 0;
  --v-theme-on-background-lighten-5: 0, 0, 0;
  --v-theme-on-background-darken-1: 0, 0, 0;
  --v-theme-on-background-darken-2: 0, 0, 0;
  --v-theme-on-background-darken-3: 255, 255, 255;
  --v-theme-on-background-darken-4: 255, 255, 255;
  --v-theme-on-background-darken-5: 255, 255, 255;
  --v-theme-on-cancel-lighten-1: 255, 255, 255;
  --v-theme-on-cancel-lighten-2: 255, 255, 255;
  --v-theme-on-cancel-lighten-3: 0, 0, 0;
  --v-theme-on-cancel-lighten-4: 0, 0, 0;
  --v-theme-on-cancel-lighten-5: 0, 0, 0;
  --v-theme-on-cancel-darken-1: 255, 255, 255;
  --v-theme-on-cancel-darken-2: 255, 255, 255;
  --v-theme-on-cancel-darken-3: 255, 255, 255;
  --v-theme-on-cancel-darken-4: 255, 255, 255;
  --v-theme-on-cancel-darken-5: 255, 255, 255;
  --v-theme-on-error-lighten-1: 255, 255, 255;
  --v-theme-on-error-lighten-2: 255, 255, 255;
  --v-theme-on-error-lighten-3: 255, 255, 255;
  --v-theme-on-error-lighten-4: 0, 0, 0;
  --v-theme-on-error-lighten-5: 0, 0, 0;
  --v-theme-on-error-darken-1: 255, 255, 255;
  --v-theme-on-error-darken-2: 255, 255, 255;
  --v-theme-on-error-darken-3: 255, 255, 255;
  --v-theme-on-error-darken-4: 255, 255, 255;
  --v-theme-on-error-darken-5: 255, 255, 255;
  --v-theme-on-highlight-lighten-1: 255, 255, 255;
  --v-theme-on-highlight-lighten-2: 0, 0, 0;
  --v-theme-on-highlight-lighten-3: 0, 0, 0;
  --v-theme-on-highlight-lighten-4: 0, 0, 0;
  --v-theme-on-highlight-lighten-5: 0, 0, 0;
  --v-theme-on-highlight-darken-1: 255, 255, 255;
  --v-theme-on-highlight-darken-2: 255, 255, 255;
  --v-theme-on-highlight-darken-3: 255, 255, 255;
  --v-theme-on-highlight-darken-4: 255, 255, 255;
  --v-theme-on-highlight-darken-5: 255, 255, 255;
  --v-theme-on-info-lighten-1: 0, 0, 0;
  --v-theme-on-info-lighten-2: 0, 0, 0;
  --v-theme-on-info-lighten-3: 0, 0, 0;
  --v-theme-on-info-lighten-4: 0, 0, 0;
  --v-theme-on-info-lighten-5: 0, 0, 0;
  --v-theme-on-info-darken-1: 255, 255, 255;
  --v-theme-on-info-darken-2: 255, 255, 255;
  --v-theme-on-info-darken-3: 255, 255, 255;
  --v-theme-on-info-darken-4: 255, 255, 255;
  --v-theme-on-info-darken-5: 255, 255, 255;
  --v-theme-on-notify-lighten-1: 0, 0, 0;
  --v-theme-on-notify-lighten-2: 0, 0, 0;
  --v-theme-on-notify-lighten-3: 0, 0, 0;
  --v-theme-on-notify-lighten-4: 0, 0, 0;
  --v-theme-on-notify-lighten-5: 0, 0, 0;
  --v-theme-on-notify-darken-1: 255, 255, 255;
  --v-theme-on-notify-darken-2: 255, 255, 255;
  --v-theme-on-notify-darken-3: 255, 255, 255;
  --v-theme-on-notify-darken-4: 255, 255, 255;
  --v-theme-on-notify-darken-5: 255, 255, 255;
  --v-theme-on-primary-lighten-1: 255, 255, 255;
  --v-theme-on-primary-lighten-2: 0, 0, 0;
  --v-theme-on-primary-lighten-3: 0, 0, 0;
  --v-theme-on-primary-lighten-4: 0, 0, 0;
  --v-theme-on-primary-lighten-5: 0, 0, 0;
  --v-theme-on-primary-darken-2: 255, 255, 255;
  --v-theme-on-primary-darken-3: 255, 255, 255;
  --v-theme-on-primary-darken-4: 255, 255, 255;
  --v-theme-on-primary-darken-5: 255, 255, 255;
  --v-theme-on-question-lighten-1: 255, 255, 255;
  --v-theme-on-question-lighten-2: 255, 255, 255;
  --v-theme-on-question-lighten-3: 0, 0, 0;
  --v-theme-on-question-lighten-4: 0, 0, 0;
  --v-theme-on-question-lighten-5: 0, 0, 0;
  --v-theme-on-question-darken-1: 255, 255, 255;
  --v-theme-on-question-darken-2: 255, 255, 255;
  --v-theme-on-question-darken-3: 255, 255, 255;
  --v-theme-on-question-darken-4: 255, 255, 255;
  --v-theme-on-question-darken-5: 255, 255, 255;
  --v-theme-on-secondary-lighten-1: 255, 255, 255;
  --v-theme-on-secondary-lighten-2: 255, 255, 255;
  --v-theme-on-secondary-lighten-3: 0, 0, 0;
  --v-theme-on-secondary-lighten-4: 0, 0, 0;
  --v-theme-on-secondary-lighten-5: 0, 0, 0;
  --v-theme-on-secondary-darken-2: 255, 255, 255;
  --v-theme-on-secondary-darken-3: 255, 255, 255;
  --v-theme-on-secondary-darken-4: 255, 255, 255;
  --v-theme-on-secondary-darken-5: 255, 255, 255;
  --v-theme-on-success-lighten-1: 0, 0, 0;
  --v-theme-on-success-lighten-2: 0, 0, 0;
  --v-theme-on-success-lighten-3: 0, 0, 0;
  --v-theme-on-success-lighten-4: 0, 0, 0;
  --v-theme-on-success-lighten-5: 0, 0, 0;
  --v-theme-on-success-darken-1: 255, 255, 255;
  --v-theme-on-success-darken-2: 255, 255, 255;
  --v-theme-on-success-darken-3: 255, 255, 255;
  --v-theme-on-success-darken-4: 255, 255, 255;
  --v-theme-on-success-darken-5: 255, 255, 255;
  --v-theme-on-surface-lighten-1: 0, 0, 0;
  --v-theme-on-surface-lighten-2: 0, 0, 0;
  --v-theme-on-surface-lighten-3: 0, 0, 0;
  --v-theme-on-surface-lighten-4: 0, 0, 0;
  --v-theme-on-surface-lighten-5: 0, 0, 0;
  --v-theme-on-surface-darken-1: 0, 0, 0;
  --v-theme-on-surface-darken-2: 0, 0, 0;
  --v-theme-on-surface-darken-3: 255, 255, 255;
  --v-theme-on-surface-darken-4: 255, 255, 255;
  --v-theme-on-surface-darken-5: 255, 255, 255;
  --v-theme-on-warning-lighten-1: 0, 0, 0;
  --v-theme-on-warning-lighten-2: 0, 0, 0;
  --v-theme-on-warning-lighten-3: 0, 0, 0;
  --v-theme-on-warning-lighten-4: 0, 0, 0;
  --v-theme-on-warning-lighten-5: 0, 0, 0;
  --v-theme-on-warning-darken-1: 0, 0, 0;
  --v-theme-on-warning-darken-2: 255, 255, 255;
  --v-theme-on-warning-darken-3: 255, 255, 255;
  --v-theme-on-warning-darken-4: 255, 255, 255;
  --v-theme-on-warning-darken-5: 255, 255, 255;
  --v-border-color: 0, 0, 0;
  --v-border-opacity: 0.12;
  --v-high-emphasis-opacity: 0.87;
  --v-medium-emphasis-opacity: 0.6;
  --v-disabled-opacity: 0.38;
  --v-idle-opacity: 0.04;
  --v-hover-opacity: 0.04;
  --v-focus-opacity: 0.12;
  --v-selected-opacity: 0.08;
  --v-activated-opacity: 0.12;
  --v-pressed-opacity: 0.12;
  --v-dragged-opacity: 0.08;
  --v-theme-kbd: 33, 37, 41;
  --v-theme-on-kbd: 255, 255, 255;
  --v-theme-code: 245, 245, 245;
  --v-theme-on-code: 0, 0, 0;

  --v-theme-link: var(--v-theme-info-darken-4);

  --vp-c-white: #ffffff;
  --vp-c-black: #000000;

  --vp-c-neutral: var(--vp-c-black);
  --vp-c-neutral-inverse: var(--vp-c-white);

  --vp-c-gray-1: #dddde3;
  --vp-c-gray-2: #e4e4e9;
  --vp-c-gray-3: #ebebef;
  --vp-c-gray-soft: rgba(142, 150, 170, 0.14);

  --vp-c-indigo-1: #3451b2;
  --vp-c-indigo-2: #3a5ccc;
  --vp-c-indigo-3: #5672cd;
  --vp-c-indigo-soft: rgba(100, 108, 255, 0.14);

  --vp-c-purple-1: #6f42c1;
  --vp-c-purple-2: #7e4cc9;
  --vp-c-purple-3: #8e5cd9;
  --vp-c-purple-soft: rgba(159, 122, 234, 0.14);

  --vp-c-green-1: #18794e;
  --vp-c-green-2: #299764;
  --vp-c-green-3: #30a46c;
  --vp-c-green-soft: rgba(16, 185, 129, 0.14);

  --vp-c-yellow-1: #915930;
  --vp-c-yellow-2: #946300;
  --vp-c-yellow-3: #9f6a00;
  --vp-c-yellow-soft: rgba(234, 179, 8, 0.14);

  --vp-c-red-1: #b8272c;
  --vp-c-red-2: #d5393e;
  --vp-c-red-3: #e0575b;
  --vp-c-red-soft: rgba(244, 63, 94, 0.14);

  --vp-c-sponsor: #db2777;

  --vp-c-bg: #ffffff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-soft: #f6f6f7;

  --vp-c-border: #c2c2c4;
  --vp-c-divider: #e2e2e3;
  --vp-c-gutter: #e2e2e3;

  --vp-c-text-1: rgba(60, 60, 67);
  --vp-c-text-2: rgba(60, 60, 67, 0.78);
  --vp-c-text-3: rgba(60, 60, 67, 0.56);

  // --vp-c-default-1: var(--vp-c-gray-1);
  // --vp-c-default-2: var(--vp-c-gray-2);
  // --vp-c-default-3: var(--vp-c-gray-3);
  // --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-default-1: rgb(var(--v-theme-surface));
  --vp-c-default-2: rgb(var(--v-theme-surface));
  --vp-c-default-3: rgb(var(--v-theme-surface));
  --vp-c-default-soft: rgb(var(--v-theme-surface));

  --vp-c-brand-1: rgb(var(--v-theme-primary));
  --vp-c-brand-2: rgb(var(--v-theme-primary));
  --vp-c-brand-3: rgb(var(--v-theme-primary));
  --vp-c-brand-soft: rgb(var(--v-theme-primary));

  --vp-c-brand: var(--vp-c-brand-1);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-note-1: var(--vp-c-brand-1);
  --vp-c-note-2: var(--vp-c-brand-2);
  --vp-c-note-3: var(--vp-c-brand-3);
  --vp-c-note-soft: var(--vp-c-brand-soft);

  --vp-c-success-1: var(--vp-c-green-1);
  --vp-c-success-2: var(--vp-c-green-2);
  --vp-c-success-3: var(--vp-c-green-3);
  --vp-c-success-soft: var(--vp-c-green-soft);

  --vp-c-important-1: var(--vp-c-purple-1);
  --vp-c-important-2: var(--vp-c-purple-2);
  --vp-c-important-3: var(--vp-c-purple-3);
  --vp-c-important-soft: var(--vp-c-purple-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);

  --vp-c-caution-1: var(--vp-c-red-1);
  --vp-c-caution-2: var(--vp-c-red-2);
  --vp-c-caution-3: var(--vp-c-red-3);
  --vp-c-caution-soft: var(--vp-c-red-soft);

  --vp-button-alt-bg: rgb(var(--v-theme-secondary));
  --vp-button-alt-text: rgb(var(--v-theme-on-secondary));
  --vp-home-hero-name-color: rgb(var(--v-theme-on-surface));

  --vp-nav-bg-color: transparent;
  --vp-sidebar-bg-color: transparent;

  .link-text-value,
  .title,
  .vp-doc a,
  .VPSidebarItem.level-0.is-active > .item .link > .text,
  .VPSidebarItem.level-1.is-active > .item .link > .text,
  .VPSidebarItem.level-2.is-active > .item .link > .text,
  .VPSidebarItem.level-3.is-active > .item .link > .text,
  .VPSidebarItem.level-4.is-active > .item .link > .text,
  .VPSidebarItem.level-5.is-active > .item .link > .text {
    color: rgb(var(--v-theme-link)) !important;
  }

  .VPSidebarItem.level-0 {
    padding-bottom: 15px !important;
  }

  body {
    background-image: url("/backgrounds/light.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: local;
  }

  .aside-curtain {
    background: none !important;
  }

  &.dark {
    --v-theme-background: 18, 18, 18;
    --v-theme-background-overlay-multiplier: 1;
    --v-theme-surface: 66, 66, 66;
    --v-theme-surface-overlay-multiplier: 1;
    --v-theme-surface-bright: 204, 191, 214;
    --v-theme-surface-bright-overlay-multiplier: 2;
    --v-theme-surface-light: 66, 66, 66;
    --v-theme-surface-light-overlay-multiplier: 1;
    --v-theme-surface-variant: 163, 163, 163;
    --v-theme-surface-variant-overlay-multiplier: 2;
    --v-theme-on-surface-variant: 66, 66, 66;
    --v-theme-primary: 6, 132, 194;
    --v-theme-primary-overlay-multiplier: 2;
    --v-theme-primary-darken-1: 0, 107, 167;
    --v-theme-primary-darken-1-overlay-multiplier: 1;
    --v-theme-secondary: 19, 170, 185;
    --v-theme-secondary-overlay-multiplier: 2;
    --v-theme-secondary-darken-1: 0, 143, 158;
    --v-theme-secondary-darken-1-overlay-multiplier: 2;
    --v-theme-error: 239, 154, 154;
    --v-theme-error-overlay-multiplier: 2;
    --v-theme-info: 139, 180, 231;
    --v-theme-info-overlay-multiplier: 2;
    --v-theme-success: 41, 217, 103;
    --v-theme-success-overlay-multiplier: 2;
    --v-theme-warning: 243, 204, 49;
    --v-theme-warning-overlay-multiplier: 2;
    --v-theme-accent: 255, 255, 255;
    --v-theme-accent-overlay-multiplier: 2;
    --v-theme-cancel: 244, 67, 54;
    --v-theme-cancel-overlay-multiplier: 2;
    --v-theme-highlight: 230, 126, 126;
    --v-theme-highlight-overlay-multiplier: 2;
    --v-theme-notify: 246, 173, 1;
    --v-theme-notify-overlay-multiplier: 2;
    --v-theme-question: 49, 116, 241;
    --v-theme-question-overlay-multiplier: 2;
    --v-theme-accent-lighten-1: 255, 255, 255;
    --v-theme-accent-lighten-1-overlay-multiplier: 2;
    --v-theme-accent-lighten-2: 255, 255, 255;
    --v-theme-accent-lighten-2-overlay-multiplier: 2;
    --v-theme-accent-lighten-3: 255, 255, 255;
    --v-theme-accent-lighten-3-overlay-multiplier: 2;
    --v-theme-accent-lighten-4: 255, 255, 255;
    --v-theme-accent-lighten-4-overlay-multiplier: 2;
    --v-theme-accent-lighten-5: 255, 255, 255;
    --v-theme-accent-lighten-5-overlay-multiplier: 2;
    --v-theme-accent-darken-1: 226, 226, 226;
    --v-theme-accent-darken-1-overlay-multiplier: 2;
    --v-theme-accent-darken-2: 198, 198, 198;
    --v-theme-accent-darken-2-overlay-multiplier: 2;
    --v-theme-accent-darken-3: 171, 171, 171;
    --v-theme-accent-darken-3-overlay-multiplier: 2;
    --v-theme-accent-darken-4: 145, 145, 145;
    --v-theme-accent-darken-4-overlay-multiplier: 2;
    --v-theme-accent-darken-5: 119, 119, 119;
    --v-theme-accent-darken-5-overlay-multiplier: 2;
    --v-theme-background-lighten-1: 39, 39, 39;
    --v-theme-background-lighten-1-overlay-multiplier: 1;
    --v-theme-background-lighten-2: 60, 60, 60;
    --v-theme-background-lighten-2-overlay-multiplier: 1;
    --v-theme-background-lighten-3: 83, 83, 83;
    --v-theme-background-lighten-3-overlay-multiplier: 1;
    --v-theme-background-lighten-4: 108, 108, 108;
    --v-theme-background-lighten-4-overlay-multiplier: 1;
    --v-theme-background-lighten-5: 133, 133, 133;
    --v-theme-background-lighten-5-overlay-multiplier: 2;
    --v-theme-background-darken-1: 0, 0, 0;
    --v-theme-background-darken-1-overlay-multiplier: 1;
    --v-theme-background-darken-2: 0, 0, 0;
    --v-theme-background-darken-2-overlay-multiplier: 1;
    --v-theme-background-darken-3: 0, 0, 0;
    --v-theme-background-darken-3-overlay-multiplier: 1;
    --v-theme-background-darken-4: 0, 0, 0;
    --v-theme-background-darken-4-overlay-multiplier: 1;
    --v-theme-background-darken-5: 0, 0, 0;
    --v-theme-background-darken-5-overlay-multiplier: 1;
    --v-theme-cancel-lighten-1: 255, 97, 78;
    --v-theme-cancel-lighten-1-overlay-multiplier: 2;
    --v-theme-cancel-lighten-2: 255, 126, 102;
    --v-theme-cancel-lighten-2-overlay-multiplier: 2;
    --v-theme-cancel-lighten-3: 255, 155, 128;
    --v-theme-cancel-lighten-3-overlay-multiplier: 2;
    --v-theme-cancel-lighten-4: 255, 184, 154;
    --v-theme-cancel-lighten-4-overlay-multiplier: 2;
    --v-theme-cancel-lighten-5: 255, 214, 181;
    --v-theme-cancel-lighten-5-overlay-multiplier: 2;
    --v-theme-cancel-darken-1: 211, 31, 31;
    --v-theme-cancel-darken-1-overlay-multiplier: 1;
    --v-theme-cancel-darken-2: 179, 0, 8;
    --v-theme-cancel-darken-2-overlay-multiplier: 1;
    --v-theme-cancel-darken-3: 148, 0, 0;
    --v-theme-cancel-darken-3-overlay-multiplier: 1;
    --v-theme-cancel-darken-4: 118, 0, 0;
    --v-theme-cancel-darken-4-overlay-multiplier: 1;
    --v-theme-cancel-darken-5: 90, 0, 0;
    --v-theme-cancel-darken-5-overlay-multiplier: 1;
    --v-theme-error-lighten-1: 255, 181, 181;
    --v-theme-error-lighten-1-overlay-multiplier: 2;
    --v-theme-error-lighten-2: 255, 209, 208;
    --v-theme-error-lighten-2-overlay-multiplier: 2;
    --v-theme-error-lighten-3: 255, 238, 237;
    --v-theme-error-lighten-3-overlay-multiplier: 2;
    --v-theme-error-lighten-4: 255, 255, 255;
    --v-theme-error-lighten-4-overlay-multiplier: 2;
    --v-theme-error-lighten-5: 255, 255, 255;
    --v-theme-error-lighten-5-overlay-multiplier: 2;
    --v-theme-error-darken-1: 210, 127, 128;
    --v-theme-error-darken-1-overlay-multiplier: 2;
    --v-theme-error-darken-2: 181, 102, 103;
    --v-theme-error-darken-2-overlay-multiplier: 2;
    --v-theme-error-darken-3: 152, 77, 79;
    --v-theme-error-darken-3-overlay-multiplier: 1;
    --v-theme-error-darken-4: 125, 52, 56;
    --v-theme-error-darken-4-overlay-multiplier: 1;
    --v-theme-error-darken-5: 98, 28, 35;
    --v-theme-error-darken-5-overlay-multiplier: 1;
    --v-theme-highlight-lighten-1: 255, 153, 152;
    --v-theme-highlight-lighten-1-overlay-multiplier: 2;
    --v-theme-highlight-lighten-2: 255, 180, 179;
    --v-theme-highlight-lighten-2-overlay-multiplier: 2;
    --v-theme-highlight-lighten-3: 255, 208, 206;
    --v-theme-highlight-lighten-3-overlay-multiplier: 2;
    --v-theme-highlight-lighten-4: 255, 237, 234;
    --v-theme-highlight-lighten-4-overlay-multiplier: 2;
    --v-theme-highlight-lighten-5: 255, 255, 255;
    --v-theme-highlight-lighten-5-overlay-multiplier: 2;
    --v-theme-highlight-darken-1: 200, 100, 101;
    --v-theme-highlight-darken-1-overlay-multiplier: 2;
    --v-theme-highlight-darken-2: 171, 74, 77;
    --v-theme-highlight-darken-2-overlay-multiplier: 1;
    --v-theme-highlight-darken-3: 142, 49, 54;
    --v-theme-highlight-darken-3-overlay-multiplier: 1;
    --v-theme-highlight-darken-4: 114, 21, 33;
    --v-theme-highlight-darken-4-overlay-multiplier: 1;
    --v-theme-highlight-darken-5: 86, 0, 11;
    --v-theme-highlight-darken-5-overlay-multiplier: 1;
    --v-theme-info-lighten-1: 167, 207, 255;
    --v-theme-info-lighten-1-overlay-multiplier: 2;
    --v-theme-info-lighten-2: 195, 236, 255;
    --v-theme-info-lighten-2-overlay-multiplier: 2;
    --v-theme-info-lighten-3: 224, 255, 255;
    --v-theme-info-lighten-3-overlay-multiplier: 2;
    --v-theme-info-lighten-4: 254, 255, 255;
    --v-theme-info-lighten-4-overlay-multiplier: 2;
    --v-theme-info-lighten-5: 255, 255, 255;
    --v-theme-info-lighten-5-overlay-multiplier: 2;
    --v-theme-info-darken-1: 112, 153, 203;
    --v-theme-info-darken-1-overlay-multiplier: 2;
    --v-theme-info-darken-2: 84, 127, 175;
    --v-theme-info-darken-2-overlay-multiplier: 2;
    --v-theme-info-darken-3: 56, 102, 148;
    --v-theme-info-darken-3-overlay-multiplier: 1;
    --v-theme-info-darken-4: 25, 79, 122;
    --v-theme-info-darken-4-overlay-multiplier: 1;
    --v-theme-info-darken-5: 0, 56, 97;
    --v-theme-info-darken-5-overlay-multiplier: 1;
    --v-theme-notify-lighten-1: 255, 200, 50;
    --v-theme-notify-lighten-1-overlay-multiplier: 2;
    --v-theme-notify-lighten-2: 255, 228, 81;
    --v-theme-notify-lighten-2-overlay-multiplier: 2;
    --v-theme-notify-lighten-3: 255, 255, 110;
    --v-theme-notify-lighten-3-overlay-multiplier: 2;
    --v-theme-notify-lighten-4: 255, 255, 138;
    --v-theme-notify-lighten-4-overlay-multiplier: 2;
    --v-theme-notify-lighten-5: 255, 255, 167;
    --v-theme-notify-lighten-5-overlay-multiplier: 2;
    --v-theme-notify-darken-1: 215, 147, 0;
    --v-theme-notify-darken-1-overlay-multiplier: 2;
    --v-theme-notify-darken-2: 184, 121, 0;
    --v-theme-notify-darken-2-overlay-multiplier: 2;
    --v-theme-notify-darken-3: 154, 96, 0;
    --v-theme-notify-darken-3-overlay-multiplier: 1;
    --v-theme-notify-darken-4: 125, 72, 0;
    --v-theme-notify-darken-4-overlay-multiplier: 1;
    --v-theme-notify-darken-5: 99, 49, 0;
    --v-theme-notify-darken-5-overlay-multiplier: 1;
    --v-theme-primary-lighten-1: 63, 158, 222;
    --v-theme-primary-lighten-1-overlay-multiplier: 2;
    --v-theme-primary-lighten-2: 97, 185, 251;
    --v-theme-primary-lighten-2-overlay-multiplier: 2;
    --v-theme-primary-lighten-3: 129, 212, 255;
    --v-theme-primary-lighten-3-overlay-multiplier: 2;
    --v-theme-primary-lighten-4: 159, 241, 255;
    --v-theme-primary-lighten-4-overlay-multiplier: 2;
    --v-theme-primary-lighten-5: 189, 255, 255;
    --v-theme-primary-lighten-5-overlay-multiplier: 2;
    --v-theme-primary-darken-2: 0, 83, 140;
    --v-theme-primary-darken-2-overlay-multiplier: 1;
    --v-theme-primary-darken-3: 0, 60, 114;
    --v-theme-primary-darken-3-overlay-multiplier: 1;
    --v-theme-primary-darken-4: 0, 39, 89;
    --v-theme-primary-darken-4-overlay-multiplier: 1;
    --v-theme-primary-darken-5: 0, 18, 65;
    --v-theme-primary-darken-5-overlay-multiplier: 1;
    --v-theme-question-lighten-1: 90, 141, 255;
    --v-theme-question-lighten-1-overlay-multiplier: 2;
    --v-theme-question-lighten-2: 124, 167, 255;
    --v-theme-question-lighten-2-overlay-multiplier: 2;
    --v-theme-question-lighten-3: 156, 194, 255;
    --v-theme-question-lighten-3-overlay-multiplier: 2;
    --v-theme-question-lighten-4: 188, 222, 255;
    --v-theme-question-lighten-4-overlay-multiplier: 2;
    --v-theme-question-lighten-5: 219, 250, 255;
    --v-theme-question-lighten-5-overlay-multiplier: 2;
    --v-theme-question-darken-1: 0, 92, 212;
    --v-theme-question-darken-1-overlay-multiplier: 1;
    --v-theme-question-darken-2: 0, 69, 184;
    --v-theme-question-darken-2-overlay-multiplier: 1;
    --v-theme-question-darken-3: 0, 48, 156;
    --v-theme-question-darken-3-overlay-multiplier: 1;
    --v-theme-question-darken-4: 0, 29, 130;
    --v-theme-question-darken-4-overlay-multiplier: 1;
    --v-theme-question-darken-5: 0, 4, 104;
    --v-theme-question-darken-5-overlay-multiplier: 1;
    --v-theme-secondary-lighten-1: 68, 198, 213;
    --v-theme-secondary-lighten-1-overlay-multiplier: 2;
    --v-theme-secondary-lighten-2: 102, 226, 241;
    --v-theme-secondary-lighten-2-overlay-multiplier: 2;
    --v-theme-secondary-lighten-3: 134, 255, 255;
    --v-theme-secondary-lighten-3-overlay-multiplier: 2;
    --v-theme-secondary-lighten-4: 164, 255, 255;
    --v-theme-secondary-lighten-4-overlay-multiplier: 2;
    --v-theme-secondary-lighten-5: 195, 255, 255;
    --v-theme-secondary-lighten-5-overlay-multiplier: 2;
    --v-theme-secondary-darken-2: 0, 117, 132;
    --v-theme-secondary-darken-2-overlay-multiplier: 1;
    --v-theme-secondary-darken-3: 0, 92, 107;
    --v-theme-secondary-darken-3-overlay-multiplier: 1;
    --v-theme-secondary-darken-4: 0, 68, 82;
    --v-theme-secondary-darken-4-overlay-multiplier: 1;
    --v-theme-secondary-darken-5: 0, 45, 59;
    --v-theme-secondary-darken-5-overlay-multiplier: 1;
    --v-theme-success-lighten-1: 83, 246, 129;
    --v-theme-success-lighten-1-overlay-multiplier: 2;
    --v-theme-success-lighten-2: 117, 255, 156;
    --v-theme-success-lighten-2-overlay-multiplier: 2;
    --v-theme-success-lighten-3: 149, 255, 184;
    --v-theme-success-lighten-3-overlay-multiplier: 2;
    --v-theme-success-lighten-4: 180, 255, 212;
    --v-theme-success-lighten-4-overlay-multiplier: 2;
    --v-theme-success-lighten-5: 211, 255, 241;
    --v-theme-success-lighten-5-overlay-multiplier: 2;
    --v-theme-success-darken-1: 0, 188, 77;
    --v-theme-success-darken-1-overlay-multiplier: 2;
    --v-theme-success-darken-2: 0, 161, 52;
    --v-theme-success-darken-2-overlay-multiplier: 2;
    --v-theme-success-darken-3: 0, 133, 24;
    --v-theme-success-darken-3-overlay-multiplier: 1;
    --v-theme-success-darken-4: 0, 107, 0;
    --v-theme-success-darken-4-overlay-multiplier: 1;
    --v-theme-success-darken-5: 0, 81, 0;
    --v-theme-success-darken-5-overlay-multiplier: 1;
    --v-theme-surface-lighten-1: 89, 89, 89;
    --v-theme-surface-lighten-1-overlay-multiplier: 1;
    --v-theme-surface-lighten-2: 114, 114, 114;
    --v-theme-surface-lighten-2-overlay-multiplier: 1;
    --v-theme-surface-lighten-3: 139, 139, 139;
    --v-theme-surface-lighten-3-overlay-multiplier: 2;
    --v-theme-surface-lighten-4: 166, 166, 166;
    --v-theme-surface-lighten-4-overlay-multiplier: 2;
    --v-theme-surface-lighten-5: 193, 193, 193;
    --v-theme-surface-lighten-5-overlay-multiplier: 2;
    --v-theme-surface-darken-1: 44, 44, 44;
    --v-theme-surface-darken-1-overlay-multiplier: 1;
    --v-theme-surface-darken-2: 23, 23, 23;
    --v-theme-surface-darken-2-overlay-multiplier: 1;
    --v-theme-surface-darken-3: 0, 0, 0;
    --v-theme-surface-darken-3-overlay-multiplier: 1;
    --v-theme-surface-darken-4: 0, 0, 0;
    --v-theme-surface-darken-4-overlay-multiplier: 1;
    --v-theme-surface-darken-5: 0, 0, 0;
    --v-theme-surface-darken-5-overlay-multiplier: 1;
    --v-theme-warning-lighten-1: 255, 232, 80;
    --v-theme-warning-lighten-1-overlay-multiplier: 2;
    --v-theme-warning-lighten-2: 255, 255, 109;
    --v-theme-warning-lighten-2-overlay-multiplier: 2;
    --v-theme-warning-lighten-3: 255, 255, 137;
    --v-theme-warning-lighten-3-overlay-multiplier: 2;
    --v-theme-warning-lighten-4: 255, 255, 165;
    --v-theme-warning-lighten-4-overlay-multiplier: 2;
    --v-theme-warning-lighten-5: 255, 255, 194;
    --v-theme-warning-lighten-5-overlay-multiplier: 2;
    --v-theme-warning-darken-1: 212, 177, 1;
    --v-theme-warning-darken-1-overlay-multiplier: 2;
    --v-theme-warning-darken-2: 182, 150, 0;
    --v-theme-warning-darken-2-overlay-multiplier: 2;
    --v-theme-warning-darken-3: 153, 125, 0;
    --v-theme-warning-darken-3-overlay-multiplier: 2;
    --v-theme-warning-darken-4: 124, 100, 0;
    --v-theme-warning-darken-4-overlay-multiplier: 1;
    --v-theme-warning-darken-5: 98, 76, 0;
    --v-theme-warning-darken-5-overlay-multiplier: 1;
    --v-theme-on-background: 255, 255, 255;
    --v-theme-on-surface: 255, 255, 255;
    --v-theme-on-surface-bright: 0, 0, 0;
    --v-theme-on-surface-light: 255, 255, 255;
    --v-theme-on-primary: 255, 255, 255;
    --v-theme-on-primary-darken-1: 255, 255, 255;
    --v-theme-on-secondary: 255, 255, 255;
    --v-theme-on-secondary-darken-1: 255, 255, 255;
    --v-theme-on-error: 0, 0, 0;
    --v-theme-on-info: 0, 0, 0;
    --v-theme-on-success: 0, 0, 0;
    --v-theme-on-warning: 0, 0, 0;
    --v-theme-on-accent: 0, 0, 0;
    --v-theme-on-cancel: 255, 255, 255;
    --v-theme-on-highlight: 255, 255, 255;
    --v-theme-on-notify: 0, 0, 0;
    --v-theme-on-question: 255, 255, 255;
    --v-theme-on-accent-lighten-1: 0, 0, 0;
    --v-theme-on-accent-lighten-2: 0, 0, 0;
    --v-theme-on-accent-lighten-3: 0, 0, 0;
    --v-theme-on-accent-lighten-4: 0, 0, 0;
    --v-theme-on-accent-lighten-5: 0, 0, 0;
    --v-theme-on-accent-darken-1: 0, 0, 0;
    --v-theme-on-accent-darken-2: 0, 0, 0;
    --v-theme-on-accent-darken-3: 255, 255, 255;
    --v-theme-on-accent-darken-4: 255, 255, 255;
    --v-theme-on-accent-darken-5: 255, 255, 255;
    --v-theme-on-background-lighten-1: 255, 255, 255;
    --v-theme-on-background-lighten-2: 255, 255, 255;
    --v-theme-on-background-lighten-3: 255, 255, 255;
    --v-theme-on-background-lighten-4: 255, 255, 255;
    --v-theme-on-background-lighten-5: 255, 255, 255;
    --v-theme-on-background-darken-1: 255, 255, 255;
    --v-theme-on-background-darken-2: 255, 255, 255;
    --v-theme-on-background-darken-3: 255, 255, 255;
    --v-theme-on-background-darken-4: 255, 255, 255;
    --v-theme-on-background-darken-5: 255, 255, 255;
    --v-theme-on-cancel-lighten-1: 255, 255, 255;
    --v-theme-on-cancel-lighten-2: 255, 255, 255;
    --v-theme-on-cancel-lighten-3: 0, 0, 0;
    --v-theme-on-cancel-lighten-4: 0, 0, 0;
    --v-theme-on-cancel-lighten-5: 0, 0, 0;
    --v-theme-on-cancel-darken-1: 255, 255, 255;
    --v-theme-on-cancel-darken-2: 255, 255, 255;
    --v-theme-on-cancel-darken-3: 255, 255, 255;
    --v-theme-on-cancel-darken-4: 255, 255, 255;
    --v-theme-on-cancel-darken-5: 255, 255, 255;
    --v-theme-on-error-lighten-1: 0, 0, 0;
    --v-theme-on-error-lighten-2: 0, 0, 0;
    --v-theme-on-error-lighten-3: 0, 0, 0;
    --v-theme-on-error-lighten-4: 0, 0, 0;
    --v-theme-on-error-lighten-5: 0, 0, 0;
    --v-theme-on-error-darken-1: 255, 255, 255;
    --v-theme-on-error-darken-2: 255, 255, 255;
    --v-theme-on-error-darken-3: 255, 255, 255;
    --v-theme-on-error-darken-4: 255, 255, 255;
    --v-theme-on-error-darken-5: 255, 255, 255;
    --v-theme-on-highlight-lighten-1: 0, 0, 0;
    --v-theme-on-highlight-lighten-2: 0, 0, 0;
    --v-theme-on-highlight-lighten-3: 0, 0, 0;
    --v-theme-on-highlight-lighten-4: 0, 0, 0;
    --v-theme-on-highlight-lighten-5: 0, 0, 0;
    --v-theme-on-highlight-darken-1: 255, 255, 255;
    --v-theme-on-highlight-darken-2: 255, 255, 255;
    --v-theme-on-highlight-darken-3: 255, 255, 255;
    --v-theme-on-highlight-darken-4: 255, 255, 255;
    --v-theme-on-highlight-darken-5: 255, 255, 255;
    --v-theme-on-info-lighten-1: 0, 0, 0;
    --v-theme-on-info-lighten-2: 0, 0, 0;
    --v-theme-on-info-lighten-3: 0, 0, 0;
    --v-theme-on-info-lighten-4: 0, 0, 0;
    --v-theme-on-info-lighten-5: 0, 0, 0;
    --v-theme-on-info-darken-1: 255, 255, 255;
    --v-theme-on-info-darken-2: 255, 255, 255;
    --v-theme-on-info-darken-3: 255, 255, 255;
    --v-theme-on-info-darken-4: 255, 255, 255;
    --v-theme-on-info-darken-5: 255, 255, 255;
    --v-theme-on-notify-lighten-1: 0, 0, 0;
    --v-theme-on-notify-lighten-2: 0, 0, 0;
    --v-theme-on-notify-lighten-3: 0, 0, 0;
    --v-theme-on-notify-lighten-4: 0, 0, 0;
    --v-theme-on-notify-lighten-5: 0, 0, 0;
    --v-theme-on-notify-darken-1: 255, 255, 255;
    --v-theme-on-notify-darken-2: 255, 255, 255;
    --v-theme-on-notify-darken-3: 255, 255, 255;
    --v-theme-on-notify-darken-4: 255, 255, 255;
    --v-theme-on-notify-darken-5: 255, 255, 255;
    --v-theme-on-primary-lighten-1: 255, 255, 255;
    --v-theme-on-primary-lighten-2: 0, 0, 0;
    --v-theme-on-primary-lighten-3: 0, 0, 0;
    --v-theme-on-primary-lighten-4: 0, 0, 0;
    --v-theme-on-primary-lighten-5: 0, 0, 0;
    --v-theme-on-primary-darken-2: 255, 255, 255;
    --v-theme-on-primary-darken-3: 255, 255, 255;
    --v-theme-on-primary-darken-4: 255, 255, 255;
    --v-theme-on-primary-darken-5: 255, 255, 255;
    --v-theme-on-question-lighten-1: 255, 255, 255;
    --v-theme-on-question-lighten-2: 255, 255, 255;
    --v-theme-on-question-lighten-3: 0, 0, 0;
    --v-theme-on-question-lighten-4: 0, 0, 0;
    --v-theme-on-question-lighten-5: 0, 0, 0;
    --v-theme-on-question-darken-1: 255, 255, 255;
    --v-theme-on-question-darken-2: 255, 255, 255;
    --v-theme-on-question-darken-3: 255, 255, 255;
    --v-theme-on-question-darken-4: 255, 255, 255;
    --v-theme-on-question-darken-5: 255, 255, 255;
    --v-theme-on-secondary-lighten-1: 0, 0, 0;
    --v-theme-on-secondary-lighten-2: 0, 0, 0;
    --v-theme-on-secondary-lighten-3: 0, 0, 0;
    --v-theme-on-secondary-lighten-4: 0, 0, 0;
    --v-theme-on-secondary-lighten-5: 0, 0, 0;
    --v-theme-on-secondary-darken-2: 255, 255, 255;
    --v-theme-on-secondary-darken-3: 255, 255, 255;
    --v-theme-on-secondary-darken-4: 255, 255, 255;
    --v-theme-on-secondary-darken-5: 255, 255, 255;
    --v-theme-on-success-lighten-1: 0, 0, 0;
    --v-theme-on-success-lighten-2: 0, 0, 0;
    --v-theme-on-success-lighten-3: 0, 0, 0;
    --v-theme-on-success-lighten-4: 0, 0, 0;
    --v-theme-on-success-lighten-5: 0, 0, 0;
    --v-theme-on-success-darken-1: 255, 255, 255;
    --v-theme-on-success-darken-2: 255, 255, 255;
    --v-theme-on-success-darken-3: 255, 255, 255;
    --v-theme-on-success-darken-4: 255, 255, 255;
    --v-theme-on-success-darken-5: 255, 255, 255;
    --v-theme-on-surface-lighten-1: 255, 255, 255;
    --v-theme-on-surface-lighten-2: 255, 255, 255;
    --v-theme-on-surface-lighten-3: 255, 255, 255;
    --v-theme-on-surface-lighten-4: 255, 255, 255;
    --v-theme-on-surface-lighten-5: 0, 0, 0;
    --v-theme-on-surface-darken-1: 255, 255, 255;
    --v-theme-on-surface-darken-2: 255, 255, 255;
    --v-theme-on-surface-darken-3: 255, 255, 255;
    --v-theme-on-surface-darken-4: 255, 255, 255;
    --v-theme-on-surface-darken-5: 255, 255, 255;
    --v-theme-on-warning-lighten-1: 0, 0, 0;
    --v-theme-on-warning-lighten-2: 0, 0, 0;
    --v-theme-on-warning-lighten-3: 0, 0, 0;
    --v-theme-on-warning-lighten-4: 0, 0, 0;
    --v-theme-on-warning-lighten-5: 0, 0, 0;
    --v-theme-on-warning-darken-1: 0, 0, 0;
    --v-theme-on-warning-darken-2: 255, 255, 255;
    --v-theme-on-warning-darken-3: 255, 255, 255;
    --v-theme-on-warning-darken-4: 255, 255, 255;
    --v-theme-on-warning-darken-5: 255, 255, 255;
    --v-border-color: 255, 255, 255;
    --v-border-opacity: 0.12;
    --v-high-emphasis-opacity: 1;
    --v-medium-emphasis-opacity: 0.7;
    --v-disabled-opacity: 0.5;
    --v-idle-opacity: 0.1;
    --v-hover-opacity: 0.04;
    --v-focus-opacity: 0.12;
    --v-selected-opacity: 0.08;
    --v-activated-opacity: 0.12;
    --v-pressed-opacity: 0.16;
    --v-dragged-opacity: 0.08;
    --v-theme-kbd: 33, 37, 41;
    --v-theme-on-kbd: 255, 255, 255;
    --v-theme-code: 52, 52, 52;
    --v-theme-on-code: 204, 204, 204;
    --v-theme-link: var(--v-theme-accent-darken-2);

    --vp-c-neutral: var(--vp-c-white);
    --vp-c-neutral-inverse: var(--vp-c-black);

    --vp-c-gray-1: #515c67;
    --vp-c-gray-2: #414853;
    --vp-c-gray-3: #32363f;
    --vp-c-gray-soft: rgba(101, 117, 133, 0.16);

    --vp-c-indigo-1: #a8b1ff;
    --vp-c-indigo-2: #5c73e7;
    --vp-c-indigo-3: #3e63dd;
    --vp-c-indigo-soft: rgba(100, 108, 255, 0.16);

    --vp-c-purple-1: #c8abfa;
    --vp-c-purple-2: #a879e6;
    --vp-c-purple-3: #8e5cd9;
    --vp-c-purple-soft: rgba(159, 122, 234, 0.16);

    --vp-c-green-1: #3dd68c;
    --vp-c-green-2: #30a46c;
    --vp-c-green-3: #298459;
    --vp-c-green-soft: rgba(16, 185, 129, 0.16);

    --vp-c-yellow-1: #f9b44e;
    --vp-c-yellow-2: #da8b17;
    --vp-c-yellow-3: #a46a0a;
    --vp-c-yellow-soft: rgba(234, 179, 8, 0.16);

    --vp-c-red-1: #f66f81;
    --vp-c-red-2: #f14158;
    --vp-c-red-3: #b62a3c;
    --vp-c-red-soft: rgba(244, 63, 94, 0.16);

    --vp-c-bg: #1b1b1f;
    --vp-c-bg-alt: #161618;
    --vp-c-bg-elv: #202127;
    --vp-c-bg-soft: #202127;

    --vp-c-border: #3c3f44;
    --vp-c-divider: #2e2e32;
    --vp-c-gutter: #000000;

    --vp-c-text-1: rgba(255, 255, 245, 0.86);
    --vp-c-text-2: rgba(235, 235, 245, 0.6);
    --vp-c-text-3: rgba(235, 235, 245, 0.38);

    body {
      background-image: url("/backgrounds/dark.svg");
    }
  }

  .VPFeature {
    @include background-color(#f6f6f7, $glass_color_alpha_base);
    border: none !important;
    box-shadow:
      0 3px 3px -2px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)),
      0 3px 4px 0 var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)),
      0 1px 8px 0 var(--v-shadow-key-ambient-opacity, rgba(0, 0, 0, 0.12)) !important;
  }

  @media (min-width: 768px) {
    .DocSearch-Button {
      @include background-color(#f6f6f7, $glass_color_alpha_base);
    }
  }

  &.dark {
    .VPFeature {
      @include background-color(#202127, $glass_color_alpha_base);
    }

    @media (min-width: 768px) {
      .DocSearch-Button {
        @include background-color(#202127, $glass_color_alpha_base);
      }
    }
  }
}
